h1{
    color:rgb(178, 50, 71);
}

button{
    color:navy;
}
body{
    background-color: bisque;
}
{
    color:blue
}
.heading{
    color:red;
}
button{
    background-color:green;
}
#one{
   
    color: rgb(123, 41, 41);
    text-align: centre;
    font-family:cursive;
    font-size:20px;
    text-transform:uppercase;
}
#two{
    text-transform: lowercase;
     color: rgb(123, 41, 41);
    text-align: centre;
    font-family:cursive;
     font-size:20px;

}